@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasKai-Regular.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Popping", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background: transparent;
  backdrop-filter: blur(15px);
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }
}

@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}
